<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{#insert title}Default Title{/}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" id="redux-google-fonts-salient_redux-css" href="https://fonts.googleapis.com/css?family=Open+Sans%3A400%2C700%2C300%2C400italic%7CRoboto%3A700%2C400&amp;subset=latin&amp;ver=1578497333" type="text/css" media="all">
</head>
<body>
<div class="container-fluid">

    <header>
        <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="container d-flex justify-content-between">
                <a href="/"><h3 class="white"><ion-icon name="time"></ion-icon> Time Keeper  <small class="text-muted">A time tracking and reporting tool by Lunatech</small></h3></a>
            </div>
        </div>
    </header>

    <main class="bd-content p-5" role="main">
        {#insert body}Body is not defined{/}
    </main>

    <footer class="container py-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                Build by <a href="https://www.lunatech.com">Lunatech</a>
                <small class="d-block mb-3 text-muted">Licensed under Apache 2.0</small>
            </div>
            <div class="col-6 col-md">
                <h5>Navigation</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/">Home</a></li>
                    <li><a class="text-muted" href="https://github.com/nicmarti">Github</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Demo</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/times">Time entries</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>
</html>
