{@com.lunatech.forms.FormErrors formErrors}
{#include base.html}
{#title}New Time Entry{/title}

{#body}

<div class="col-6 pb-5">
    <div class="card">
        <div class="card-header">
            <h2>Create a new time entry</h2>
        </div>
        <div class="card-body">
            {! no router so we hard-code the URL... !}
            <form id="zeForm" action="/times/new" method="POST" class="form">

                {! There is no CSRF protection here !}

                {! I tried with a #{if formErrors != "NOT_FOUND"} { ... } but it does not work. !}
                {! So I decided to add a RawString function to render the HTML (which is not the best practice) !}
                {formErrors.renderIfErrors ?: ''}

                <div class="form-group">
                    {#if formErrors.reason.fieldWithError == "description"}
                    <label for="descriptionWithErrors" class="text-danger"><i class="icon ion-md-clipboard"></i> Task description :</label>
                    <input name="description" type="text" class="form-control is-invalid" id="descriptionWithErrors" aria-describedby=descHelp" placeholder="Enter Task description">
                    <small id="descHelp" class="form-text text-muted">Required. Be as descriptive as possible. Explain what you worked on today.</small>
                    {#else}
                    <label for="description"><i class="icon ion-md-clipboard"></i> Task description :</label>
                    <input name="description" type="text" class="form-control error" id="description" aria-describedby="emailHelp" placeholder="Enter Task description">
                    <small id="emailHelp" class="form-text text-muted">Required. Be as descriptive as possible. Explain what you worked on today.</small>
                    {/if}
                </div>

                <div class="form-group">
                    {#if formErrors.reason.fieldWithError == "description"}
                    <label for="author2" class="text-danger"><i class="icon ion-md-mail"></i> Your email address :</label>
                    <input name="author" type="email" class="form-control is-invalid" id="author2" aria-describedby="author2Help" placeholder="">
                    <small id="author2Help" class="form-text text-muted">Required. Enter your email address.</small>
                    {#else}
                    <label for="author"><i class="icon ion-md-mail"></i> Your email address :</label>
                    <input name="author" type="email" class="form-control" id="author" aria-describedby="authorHelp" placeholder="">
                    <small id="authorHelp" class="form-text text-muted">Required. Enter your email address.</small>
                    {/if}
                </div>

              <div class="form-group">
                <label for="durationSelect"><i class="icon ion-md-calendar"></i> Select duration for this task</label>
                <select class="form-control" id="durationSelect" name="duration">
                  <option value="PT30M">30mn</option>
                  <option value="PT1H">1h</option>
                  <option value="PT1H30M">1h 30mn</option>
                  <option value="PT2H">2h</option>
                  <option value="PT2H30M">2h 30mn</option>
                  <option value="PT3H">3h</option>
                  <option value="PT3H30M">3h 30mn</option>
                  <option value="PT4H">4h</option>
                  <option value="PT4H30M">4h 30mn</option>
                  <option value="PT5H">5h</option>
                  <option value="PT5H30M">5h 30mn</option>
                  <option value="PT6H">6h</option>
                  <option value="PT6H30M">6h 30mn</option>
                  <option value="PT7H">7h</option>
                  <option value="PT7H30M">7h 30mn</option>
                  <option value="PT8H">8h</option>
                </select>
              </div>

                <button type="submit" class="btn btn-success"><i class="icon ion-md-archive" size="small"></i> Save new entry</button>
            </form>
        </div>
    </div>
</div>
<div class="col-12">
<a href="/times" class="btn btn-primary"><i class="icon ion-md-arrow-back"></i> Back to the list</a>
</div>
{/body}
{/include}
