{@java.util.List<TimeEntry> timeEntries}
{#include base.html}
    {#title}All TimeEntries{/title}

    {#body}
        <div class="row">
            <div class="col-xs-12 col-lg-3 col-md-4">
                <a href="/times/new" class="btn btn-primary"><i class="icon ion-md-calendar"></i> Create a new time entry</a>
            </div>
            <div class="col-xs-12 col-lg-9 col-md-8">
                {#if timeEntries.size == 0}
                    There is no time entry in the database.
                {/if}
                <table class="table table-condensend">
                    <thead>
                    <tr>
                        <th>Description</th>
                        <th>Duration</th>
                        <th>Created on</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {#for entry in timeEntries}
                        <tr>
                            <td>{entry.description ?: 'No description'}</td>
                            <td>{entry.durationAsString ?: '-'}</td>
                            <td>{entry.created}</td>
                            <td>
                                <a href="/times/{entry.id}" class="btn btn-primary"><i class="icon ion-md-eye"></i> details</a>
                            </td>
                        </tr>
                    {/for}
                    </tbody>
                </table>
            </div>
        </div>


    {/body}
{/include}
