{@com.lunatech.models.TimeEntry timeEntry}
{#include base.html}
    {#title}Detail for Time Entry{/title}

    {#body}
<div class="row">
    <div class="col-xs-12 col-lg-3 col-md-4">
        <a href="/times" class="btn btn-primary"><i class="icon ion-md-arrow-back"></i> Back to the list</a>
    </div>
   <div class="col-xs-12 col-lg-6 col-md-6">
        <div class="card">
              <div class="card-header">
                    <h3>{timeEntry.description}</h3>
              </div>
                <div class="card-body">
                    <p>Created : {timeEntry.created} by {timeEntry.author}</p>
                    <p>Updated : {timeEntry.updated}</p>
                    <p><i class="icon ion-md-timer"></i> Duration : {timeEntry.durationAsText}</p>
                </div>
        </div>
    </div>
</div>
    {/body}
{/include}
