{@com.lunatech.models.TimeEntry timeEntry}
{#include base.html}
    {#title}Detail for Time Entry{/title}

    {#body}

<div class="col-4">
<div class="card">
      <div class="card-header">
            <h2>{timeEntry.entryId ?: 'No ID'}</h2>
      </div>
        <div class="card-body">
            <p class="details">{timeEntry.description}</p>
            <p>Created : {timeEntry.created} by {timeEntry.author}</p>
            <p>Updated : {timeEntry.updated}</p>
            <p>Duration : {timeEntry.durationAsText}</p>

        </div>
</div>
</div>
<div class="col-12">
    <a href="/times" class="btn btn-primary"><ion-icon name="arrow-back"></ion-icon> Back to the list</a>
</div>
    {/body}
{/include}
