{@java.util.List<TimeEntry> timeEntries}
{#include base.html}
    {#title}All TimeEntries{/title}

    {#body}
        {#if timeEntries.size == 0}
            There is no time entry yet.
        {/if}
    <ul>
        {#for entry in timeEntries}
            <li>{count} - {entry.description ?: 'No description'} <a href="/times/{entry.id}">see details</a>
            <p>created by {entry.author}</p>
            </li>
        {/for}
    </ul>

    <a href="/times/new" class="btn btn-primary">Create a new time entry</a>
    {/body}
{/include}
